body {
  background-color: #eeeded;
}
.user-image {
  width: 256px;
  height: 256px;
}
.preview-image {
  width: 96px;
  height: 96px;
}
.tweet-body { word-wrap: break-word; }
.relation-button { width: 256px; }
